<%- include('../partials/htmlTop') %>
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/newpost.css">
<%- include('../partials/navbar') %>
<header>
    <img id="headerImg" src="./images/newpost.jpg" alt="Contact">
    <h1 class="mainTitle">New Article</h1>
</header>

<main>
    <form action="" method="post">
        <div>
            
            <label id="firstLbl" for="authorInput">Authors &</label>
            <label id="secondLbl" for="positionInput">Position of Authors</label>
            <a class="authorBtn minusAuthor">-</a>
            <span>1</span>
            <a class="authorBtn addAuthor">+</a>
            <div class="authorContainer">
                <input class="authorInput" type="text" placeholder="Author">
                <input class="positionInput" type="text" placeholder="Position">
            </div>
        </div>

        <div>
            <label for="titleInput">Title</label>
            <input id="titleInput" type="text" placeholder="Title">
        </div>
        <div>
            <label for="imgInput">Image</label>
            <input id="imgInput" type="file">
        </div>
        <div>
            <label for="parInput">Content</label>
            <textarea id="parInput" placeholder="Content"></textarea>
        </div>

        <button class="postBtn" type="submit">Post Article</button>
    </form>
</main>
<%- include('../partials/footer') %>
<%- include('../partials/htmlBottom') %>