<%- include('../partials/htmlTop') %>
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/newpost.css">
<%- include('../partials/navbar') %>
<header>
    <img id="headerImg" src="./images/newpost.jpg" alt="Contact">
    <h1 class="mainTitle">New Article</h1>
</header>
<%- include('../partials/footer') %>
<%- include('../partials/htmlBottom') %>