.mainTitle {
    text-align: center;
    padding: 40px 0;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

#headerImg {
    width: 100vw;
    height: 300px;
    background-position: center;
    object-fit: cover;
}

main {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 100px;
    font-family: 'Poppins', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;

    div {
        margin-bottom: 40px;
        h5 {
            margin-bottom: 5px;
            font-size: 1.25rem;
        }
    }
}