footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: rgb(10, 9, 15);
    color: #ffffffb7;
}

footer > div > h4 {
    font-size: 12px;
}
footer > div > p {
    font-size: 9px;
}