@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import './variables';


footer {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(10, 9, 15);
    color: #ffffffb7;
    padding: 10px 20px;
    margin-top: auto;
    
    @include phones{
        flex-direction: column;
    }

    img {
        height: 80px;
        filter: grayscale(100%);
    }

    div {
        width: 300px;
        @include phones{
            width: 90%;
            text-align: center;
        }

        h4 {
            font-family: 'Gilda Display', serif;
            font-size: 12px;
            line-height: 20px;
        }
        
        p {
            font-family: 'Poppins', sans-serif;
            font-size: 10px;
        }
    }
}