@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import './variables';




main {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/home2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    div {
        width: 600px;
        text-align: center;

        @include laptops {
            width: 500px;
        }

        @include tablets {
            width: 80%;
        }
        @include phones {
            width: 90%;
        }

        h4 {
            width: 500px;
            margin: 0 auto;
            font-family: 'Playfair Display', serif;
            font-size: 2rem;
            color: #ffffff;
            text-shadow: 2px 2px 8px #000000;

            @include tablets {
                width: 80%;
            }
            @include phones {
                width: 90%;
            }
        }

        p {
            padding: 10px 0;
            font-family: 'Poppins', serif;
            font-size: 1rem;
            color: #ffffff;
            margin: 0 auto;
            text-shadow: 2px 2px 8px #000000;

            @include tablets {
                width: 70%;
            }
            @include phones {
                width: 80%;
            }
        }

        button {
            width: 150px;
            height: 50px;
            outline: none;
            font-family: 'Poppins', serif;
            font-size: 1rem;

            color: #ffffff;
            border: none;
            border-radius: 25px;
            background-color: rgb(22, 185, 71);
            transition: 300ms ease-in-out;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
            cursor: pointer;

            &:hover {
                background-color: rgb(50, 150, 83);
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
            }
        }
    }
}

section {
    h4 {
        text-align: center;
        padding: 40px 0;
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
    }

    #cardContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .homeCards{
            width: 400px;
            background-color: #e9e9e9;
            // border: 2px solid red;
            text-align: center;
            padding: 20px;
            margin: 0 20px;
            margin-bottom: 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        
            img {
                width: 100%;
                object-fit: cover;
                background-position: center;
                padding: 10px auto;
            }

            h5 {
                font-family: 'Playfair Display', serif;
                font-size: 1.2rem;
                margin: 10px 0;
            }

            p {
                font-family: 'Poppins', serif;
                font-size: 1rem;
            }
        }
    }

    #articlesBtn {
        width: 120px;
        height: 40px;
        outline: none;
        font-family: 'Poppins', serif;
        font-size: 1rem;
        color: white;
        border: none;
        border-radius: 25px;
        background-color: rgb(8, 86, 255);
        transition: 300ms ease-in-out;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        margin: 20px auto;

        &:hover {
            background-color: rgb(0, 48, 151);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
        }
    }
}

#articlesHome {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .articlesContainer {
        width: 900px;
        margin-bottom: 20px;

        @include laptops {
            width: 650px;
        }

        @include tablets {
            width: 80%;
        }

        @include tablets {
            width: 90%;
        }


        .article {
            width: 100%;
            padding: 10px 20px;
            margin-bottom: 20px;
            display: grid;
            grid-template-columns: 70% 30%;
            background-color: #b9dcec;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

            @include tablets {
                grid-template-columns: 100%;
                gap: 10px;
            }

            .col1 {
                .adminBtnContainer {
                    margin: 10px 0;

                    .adminBtns {
                        width: 70px;
                        height: 20px;
                        outline: none;
                        font-family: 'Poppins', serif;
                        font-size: 0.8rem;
                        color: white;
                        border: none;
                        border-radius: 2px;
                        transition: 300ms ease-in-out;
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
                        cursor: pointer;

                    }

                    .updateBtn {
                        background-color: rgb(8, 86, 255);
                        &:hover {
                            background-color: rgb(0, 48, 151);
                            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
                        }
                    }

                    .deleteBtn {
                        background-color: rgb(163, 5, 0);    
                        &:hover {
                            background-color: rgb(112, 4, 0);   
                            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
                        }
                    }
                }
                .title { 
                    font-size: 1.25rem;
                    width: 100%; 

                    a {
                        text-decoration: none;
                        color: #000000;
                        transition: color 0.3s ease-in-out;
                        
                        &:hover {
                            color: rgb(0, 48, 151);
                        }
                    }
                }
                .author {
                    font-size: 0.8rem;
                    font-weight: 300;
                    margin-bottom: 10px;
                    width: 100%;

                    .date {
                        font-size: 0.8rem;
                        font-weight: 300;
                        padding-left: 10px;
                    }
                }

    
                .content {
                    font-size: 0.8rem;
                    font-family: 'Poppins', serif;
                    width: 96%;
                }
            }


            .col2 {

                .image {
                    width: 100%;
                    min-height: 100px;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    
}



//portrait phone
// @media (min-width: 576px) {
//     main div {
//         width: 420px;
//         h4 {
//             font-size: 1.8rem;
//             width: 420px;
//         }

//         p {
//             font-size: 0.9rem;
//             width: 400px;
//         }

//         button {
//             height: 35px;
//             width: 120px;
//             font-size: 0.9rem;
//         }
//     }
// }
