@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import './variables';




main {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/home2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    div {
        width: 600px;
        text-align: center;

        @include laptops {
            width: 500px;
        }

        @include tablets {
            width: 80%;
        }
        @include phones {
            width: 90%;
        }

        h4 {
            width: 500px;
            margin: 0 auto;
            font-family: 'Playfair Display', serif;
            font-size: 2rem;
            color: #ffffff;
            text-shadow: 2px 2px 8px #000000;

            @include laptops {
                width: 450px;
                font-size: 1.8rem;
            }

            @include tablets {
                width: 70%;
                font-size: 1.6rem;
            }
            @include phones {
                width: 80%;
                font-size: 1rem;
            }
            
    
        }

        p {
            padding: 10px 0;
            font-family: 'Poppins', serif;
            font-size: 1rem;
            color: #ffffff;
            margin: 0 auto;
            text-shadow: 2px 2px 8px #000000;

            @include laptops {
                font-size: 0.9rem;
            }

            @include tablets {
                width: 70%;
                font-size: 0.8rem;
            }
            @include phones {
                width: 80%;
                font-size: 0.6rem;
            }
        }

        button {
            width: 150px;
            height: 50px;
            outline: none;
            font-family: 'Poppins', serif;
            font-size: 1rem;
            color: #ffffff;
            border: none;
            border-radius: 25px;
            background-color: rgb(22, 185, 71);
            transition: 300ms ease-in-out;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
            cursor: pointer;

            &:hover {
                background-color: rgb(50, 150, 83);
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
            }

            @include laptops {
                width: 120px;
                height: 40px;
                font-size: 0.9rem;
            }

            @include tablets {
                width: 100px;
                height: 30px;
                font-size: 0.8rem;
            }
            @include phones {
                width: 80px;
                height: 20px;
                font-size: 0.6rem;
            }
        }
    }
}

section {
    h4 {
        text-align: center;
        padding: 40px 0;
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
    }

    #cardContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .homeCards{
            width: 400px;
            background-color: #d4d18c;
            // border: 2px solid red;
            text-align: center;
            padding: 20px;
            margin: 0 20px;
            margin-bottom: 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        
            img {
                width: 100%;
                object-fit: cover;
                background-position: center;
                padding: 10px auto;
            }

            h5 {
                font-family: 'Playfair Display', serif;
                font-size: 1.2rem;
                margin: 10px 0;
            }

            p {
                font-family: 'Poppins', serif;
                font-size: 1rem;
            }
        }
    }

    #articlesBtn {
        width: 120px;
        height: 40px;
        outline: none;
        font-family: 'Poppins', serif;
        font-size: 1rem;
        color: white;
        border: none;
        border-radius: 25px;
        background-color: rgb(8, 86, 255);
        transition: 300ms ease-in-out;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        margin: 20px auto;

        &:hover {
            background-color: rgb(0, 48, 151);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
        }
    }
}

#articlesHome {
    text-align: center;
    margin-bottom: 40px;
}



//portrait phone
// @media (min-width: 576px) {
//     main div {
//         width: 420px;
//         h4 {
//             font-size: 1.8rem;
//             width: 420px;
//         }

//         p {
//             font-size: 0.9rem;
//             width: 400px;
//         }

//         button {
//             height: 35px;
//             width: 120px;
//             font-size: 0.9rem;
//         }
//     }
// }
