@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

/* navbar css */
nav {
    background-color: rgba(10, 9, 15, 0);
    position: fixed;
    display: grid;
    height: 64px;
    width: 100%;
    grid-template-columns: 300px calc(100% - 300px);
    z-index: 5;
    transition: background-color 300ms ease-in-out;

    ul {
        display: flex;
        padding-right: 30px;
        justify-content: flex-end;
        list-style: none;
        align-items: center;
        visibility: visible;
        
        .navlinks {
            margin: 0 20px;
            a {
                text-decoration: none;
                color: #ffffff;
                transition: color 0.3s ease-in-out;
                font-family: 'Poppins', sans-serif;
                font-size: 0.8rem;
                font-weight: 500;

                &:hover {
                    color: #3183ff;
                }
            }
        }
    }

    div {
        display: flex;
        height: 64px;
        padding-left: 20px;

        a {
            display: flex;
            align-items: center;
            font-family: 'Gilda Display', serif;
            font-size: 0.6rem;
            text-decoration: none;

            .logoImg {
                align-self: center;
                height: 54px;
            }
            h1 {
                text-align: center;
                color: #ffffff;
                width: 170px;
                transition: color 300ms ease-in-out;
            }
        }
    }
}

nav.scrolled {
    background-color: rgb(10, 9, 15) !important;
    
    div a h1{
        color: #ffffff !important;
    }
    ul .navlinks a {
        color: #ffffff !important;
    }
}

/* mobile navbar */
#navMobile {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 11;


    #rectArea {
        width: 180px;
        height: 100%;
        background-color: rgb(0, 0, 0);
    
        ul {
            width: 100%;
            text-align: right;
            list-style: none;
            transform: translateY(60px);
        }
    }
}

.displayShow {
    display: block;
}
.displayHide { 
    display: none;
}



.navlinksMob {
    line-height: 50px;

    a {
        display: block;
        padding-right: 20px;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        width: 100%;
        transition: background-color 0.3s ease-in;

        &:hover {
            color: #091A47;
            background-color: #3183ff;
        }
    } 
}

.burger {
    position: fixed;
    right: 20px;
    top: 32px;
    transform: translateY(-50%);
    margin: auto 0;
    padding: auto 0;
    width: 2.6rem;
    height: 2.2rem;
    border-radius: 5px;
    font-size: 20px;
    background-color: #ffffff00;
    outline: none;
    visibility: collapse;
    transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: #ffffff;
    border: 1px solid #ffffff;
    z-index: 20;

}

.bHover:hover {
    color: #3183ff;
    border: 1px solid #3183ff;
}
.xHover:hover {
    color: #a70000;
    border: 1px solid #a70000;
}

.navBtn {
    height: 40px;
    min-width: 100px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 0.8rem;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.loginBtn {
    border: 1px solid rgb(0, 21, 112);
    background-color: #245af0;
}

.logoutBtn {
    display: none;
    border: 1px solid rgb(105, 0, 0);
    background-color: rgb(223, 49, 49);
}

#blocker {
    background-color: #00000075;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    top: 0;
}

@media (max-width: 768px) {
    nav ul {
        visibility: collapse;
        display: none;
    }
    .burger {
        visibility: visible;
    }
    #btns {
        visibility: collapse;
    }
}

@media (max-width: 320px) {
    nav div a h1 {
        display: none;
    }
}
