@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom, #091A47, #000000);
    background-attachment: fixed;
}

/* navbar css */
nav {
    background-color: rgb(10, 9, 15);
    position: fixed;
    display: grid;
    height: 64px;
    width: 100%;
    grid-template-columns: 300px calc(100% - 300px);
    z-index: 5;

    ul {
        display: flex;
        padding-right: 30px;
        justify-content: flex-end;
        list-style: none;
        align-items: center;
        visibility: visible;
        
        .navlinks {
            margin: 0 20px;
            a {
                text-decoration: none;
                color: #FFFFFF;
                transition: color 0.3s ease-in-out;
                font-family: 'Poppins', sans-serif;
                font-size: 0.8rem;

                &:hover {
                    color: #3183ff;
                }
            }
        }
    }

    div {
        display: flex;
        height: 64px;
        padding-left: 20px;

        a {
            display: flex;
            align-items: center;
            font-family: 'Gilda Display', serif;
            font-size: 0.6rem;
            text-decoration: none;

            .logoImg {
                align-self: center;
                height: 54px;
            }
            h1 {
                text-align: center;
                color: #FFFFFF;
                width: 170px;
            }
        }
    }
}


/* mobile navbar */
#navMobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;

    #rectArea {
        width: 180px;
        height: 100vh;
        background-color: rgb(0, 0, 0);
    
        ul {
            width: 100%;
            text-align: right;
            list-style: none;
            transform: translateY(60px);
        }
    }
}

.displayShow {
    display: block;
}
.displayHide { 
    display: none;
}



.navlinksMob {
    line-height: 70px;

    a {
        display: block;
        padding-right: 20px;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        width: 100%;
        transition: background-color 0.3s ease-in;

        &:hover {
            color: #091A47;
            background-color: #3183ff;
        }
    } 
}

.burger {
    position: fixed;
    right: 20px;
    top: 32px;
    transform: translateY(-50%);
    margin: auto 0;
    width: 2.2rem;
    height: 1.8rem;
    border-radius: 5px;
    font-size: 20px;
    background-color: #ffffff00;
    outline: none;
    visibility: collapse;
    transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: #ffffff;
    border: 1px solid #ffffff;
    z-index: 20;

    &Enter:hover {
        color: #3183ff;
        border: 1px solid #3183ff;
    }
    &Exit:hover {
        color: #3183ff;
        border: 1px solid #3183ff;
    }
}

#blocker {
    background-color: #00000075;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    top: 0;
}

@media (max-width: 768px) {
    nav ul {
        visibility: collapse;
        display: none;
    }
    .burger {
        visibility: visible;
    }
    #btns {
        visibility: collapse;
    }
}
