<footer>
    <img class="logoFooter" src="/images/icsilogo.png" alt="ICSI Logo">
    <div>
        <h4>International College of St. Ignatius de Loyola</h4>
        <p>Corner IWHA-Espino Subdivision, Brgy. Dumoy Talomo District, Davao City, Philippines</p>
        <p>All Rights Reserved &copy; 2021</p>
    </div>
</footer>