</head>
<body>
    <nav>
        <div>
            <a href="/" id="auroraLink">
                <img class="logoImg" src="/images/icsilogo.png" alt="ICSI Logo">
                <h1>International College of St. Ignatius de Loyola</h1>
            </a>
        </div>
        <ul>
            <li class="navlinks">
                <a href="/">Home</a>
            </li>
            <li class="navlinks">
                <a href="/about">About</a>
            </li>
            <li class="navlinks">
                <a href="/contact">Contact</a>
            </li>
            <li class="navlinks">
                <a href="/articles">Articles</a>
            </li>

            <% if(!isAuth) {%>
                <button class="navBtn loginBtn" onclick=" location.href = '/login' ">Admin Login</button>
            <% } else { %>
                <button class="navBtn logoutBtn" onclick=" location.href = '/logout' ">Logout</button>
            <% } %>
            
        </ul>
    </nav>

    <button id="navBtn" class="burger xHover">
            
    </button>

    <aside id="navMobile" class="displayHide">
        <div id="rectArea">
            <ul>
                <li class="navlinksMob">
                    <a href="/">Home</a>
                </li>
                <li class="navlinksMob">
                    <a href="/about">About</a>
                </li>
                <li class="navlinksMob">
                    <a href="/contact">Contact</a>
                </li>
                <li class="navlinksMob">
                    <a href="/articles">Articles</a>
                </li>
                
                <% if(!isAuth) {%>
                <button class="navBtn loginBtn" onclick=" location.href = '/login' ">Admin Login</button>
                <% } else { %>
                <button class="navBtn logoutBtn" onclick=" location.href = '/logout' ">Logout</button>
                <% } %>
            </ul>
        </div>
    </aside>
    <section id="blocker" class="displayHide"></section>

