</head>
<body>
    <nav>
        <div>
            <a href="#" id="auroraLink">
                <img class="logoImg" src="./images/icsilogo.png" alt="ICSI Logo">
                <h1>International College of St. Ignatius de Loyola</h1>
            </a>
        </div>
        <ul>
            <li class="navlinks">
                <a href="/">Home</a>
            </li>
            <li class="navlinks">
                <a href="/about">About</a>
            </li>
            <li class="navlinks">
                <a href="/admission">Admission</a>
            </li>
            <li class="navlinks">
                <a href="/contact">Contact</a>
            </li>
            <li class="navlinks">
                <a href="/articles">Articles</a>
            </li>
            <li class="navlinks">
                <a href="/new_article">New Article</a>
            </li>

            <button>Admin Login</button>
            <button>Logout</button>
            
        </ul>
    </nav>

    <button id="navBtn" class="burger xHover">
            
    </button>

    <section id="navMobile" class="displayHide">
        <div id="rectArea">
            <ul>
                <li class="navlinksMob">
                    <a href="#">Home</a>
                </li>
                <li class="navlinksMob">
                    <a href="#">About</a>
                </li>
                <li class="navlinksMob">
                    <a href="#">Admission</a>
                </li>
                <li class="navlinksMob">
                    <a href="#">Contact</a>
                </li>
                <li class="navlinksMob">
                    <a href="#">Articles</a>
                </li>
                <li class="navlinksMob">
                    <a href="#">New Article</a>
                </li>

                <button>Admin Login</button>
                <button>Logout</button>
            </ul>
        </div>
    </section>
    <section id="blocker" class="displayHide"></section>

