</head>
<body>
    <nav>
        <div>
            <h1 id="companyLbl">
                <a href="#" id="auroraLink">ICSI</a>
            </h1>
        </div>
        <ul>
            <li class="navlinks">
                <a href="#">Home</a>
            </li>
            <li class="navlinks">
                <a href="#">Storage</a>
            </li>
            <li class="navlinks">
                <a href="#">Analytics</a>
            </li>
            <li class="navlinks">
                <a href="#">Profile</a>
            </li>
        </ul>
        <button class="burger">
            ≡
        </button>
    </nav>

    <section id="navMobile" class="displayHide">
        <div id="rectArea">
            <button class="burger">
                ≡
            </button>
            <ul>
                <li class="navlinksMob">
                    <a href="#">Home</a>
                </li>
                <li class="navlinksMob">
                    <a href="#">Storage</a>
                </li>
                <li class="navlinksMob">
                    <a href="#">Analytics</a>
                </li>
                <li class="navlinksMob">
                    <a href="#">Profile</a>
                </li>
            </ul>
        </div>
    </section>
    <section id="blocker"></section>

