<%- include('./partials/htmlTop') %>
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/about.css">
<%- include('./partials/navbar') %>
<header>
    <img id="headerImg" src="./images/about.jpg" alt="About">
    <h1 class="mainTitle">About</h1>
</header>
<%- include('./partials/footer') %>
<%- include('./partials/htmlBottom') %>