<%- include('./partials/htmlTop') %>
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/about.css">
<%- include('./partials/navbar') %>
<header>
    <img id="headerImg" src="./images/about.jpg" alt="About">
    <h1 class="mainTitle">About</h1>
</header>

<main>
    <div>
        <h5>History</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla voluptate ipsa temporibus sapiente, necessitatibus molestias quae distinctio quis placeat, fugiat voluptatibus illum voluptates doloremque culpa, ipsum saepe! Quibusdam odio, maxime animi ea minus id ad voluptatem, possimus nostrum aspernatur labore!</p>
    </div>
    <div>
        <h5>The Mission</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quis ad sed qui temporibus optio recusandae? Ex odit obcaecati reprehenderit magni ratione inventore exercitationem enim, deleniti repellendus dolorem minima placeat, sunt porro nam sed, accusantium ipsa consequuntur temporibus aliquam quo.</p>
    </div>
    <div>
        <h5>The Vision</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quis ad sed qui temporibus optio recusandae? Ex odit obcaecati reprehenderit magni ratione inventore exercitationem enim, deleniti repellendus dolorem minima placeat, sunt porro nam sed, accusantium ipsa consequuntur temporibus aliquam quo.</p>
    </div>
    <div>
        <h5>Acknowledgements</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tempore impedit, exercitationem modi cupiditate a eos? Assumenda quam recusandae, ducimus aspernatur consequuntur accusantium fuga commodi, doloremque quas obcaecati odit, veritatis ipsam illum est laborum libero. Eius ipsa et culpa cupiditate.</p>
    </div>
</main>

<%- include('./partials/footer') %>
<%- include('./partials/htmlBottom') %>