<%- include('./partials/htmlTop') %>
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/admission.css">
<%- include('./partials/navbar') %>
<header>
    <img id="headerImg" src="./images/admission.jpg" alt="Admission">
    <h1 class="mainTitle">Admission</h1>
</header>
<%- include('./partials/footer') %>
<%- include('./partials/htmlBottom') %>