<%- include('./partials/htmlTop') %>
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/articles.css">
<%- include('./partials/navbar') %>
<header>
    <img id="headerImg" src="./images/articles.jpg" alt="Articles">
    <h1 class="mainTitle">Articles</h1>
</header>
<%- include('./partials/footer') %>
<%- include('./partials/htmlBottom') %>