<%- include('./partials/htmlTop') %>
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/home.css">
<%- include('./partials/navbar') %>
<main>
    <div>
        <h4>Ready to provide a world-class Online Education</h4>
        <p>International College of St. Ignatius de Loyola is officially ready for online education with the help of GSuite for Education from Google.  For more information, click learn more.</p>
        <button>Enroll Now</button>
    </div>
</main>
<%- include('./partials/footer') %>
<script src="../public/js/navbar.js"></script>
<%- include('./partials/htmlBottom') %>