@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/home2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/home2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

main div {
  width: 600px;
  text-align: center;
}

@media (max-width: 1279px) {
  main div {
    width: 500px;
  }
}

@media (max-width: 768px) {
  main div {
    width: 80%;
  }
}

@media (max-width: 480px) {
  main div {
    width: 90%;
  }
}

main div h4 {
  width: 500px;
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 8px #000000;
}

@media (max-width: 768px) {
  main div h4 {
    width: 80%;
  }
}

@media (max-width: 480px) {
  main div h4 {
    width: 90%;
  }
}

main div p {
  padding: 10px 0;
  font-family: 'Poppins', serif;
  font-size: 1rem;
  color: #ffffff;
  margin: 0 auto;
  text-shadow: 2px 2px 8px #000000;
}

@media (max-width: 768px) {
  main div p {
    width: 70%;
  }
}

@media (max-width: 480px) {
  main div p {
    width: 80%;
  }
}

main div button {
  width: 150px;
  height: 50px;
  outline: none;
  font-family: 'Poppins', serif;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  background-color: #16b947;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

main div button:hover {
  background-color: #329653;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
}

section h4 {
  text-align: center;
  padding: 40px 0;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

section #cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section #cardContainer .homeCards {
  width: 400px;
  background-color: #e9e9e9;
  text-align: center;
  padding: 20px;
  margin: 0 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

section #cardContainer .homeCards img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  padding: 10px auto;
}

section #cardContainer .homeCards h5 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  margin: 10px 0;
}

section #cardContainer .homeCards p {
  font-family: 'Poppins', serif;
  font-size: 1rem;
}

section #articlesBtn {
  width: 120px;
  height: 40px;
  outline: none;
  font-family: 'Poppins', serif;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 25px;
  background-color: #0856ff;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin: 20px auto;
}

section #articlesBtn:hover {
  background-color: #003097;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
}

#articlesHome {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#articlesHome .articlesContainer {
  width: 900px;
  margin-bottom: 20px;
}

@media (max-width: 1279px) {
  #articlesHome .articlesContainer {
    width: 650px;
  }
}

@media (max-width: 768px) {
  #articlesHome .articlesContainer {
    width: 80%;
  }
}

@media (max-width: 768px) {
  #articlesHome .articlesContainer {
    width: 90%;
  }
}

#articlesHome .articlesContainer .article {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  background-color: #b9dcec;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  #articlesHome .articlesContainer .article {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 10px;
  }
}

#articlesHome .articlesContainer .article .col1 .adminBtnContainer {
  margin: 10px 0;
}

#articlesHome .articlesContainer .article .col1 .adminBtnContainer .adminBtns {
  width: 70px;
  height: 20px;
  outline: none;
  font-family: 'Poppins', serif;
  font-size: 0.8rem;
  color: white;
  border: none;
  border-radius: 2px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#articlesHome .articlesContainer .article .col1 .adminBtnContainer .updateBtn {
  background-color: #0856ff;
}

#articlesHome .articlesContainer .article .col1 .adminBtnContainer .updateBtn:hover {
  background-color: #003097;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
}

#articlesHome .articlesContainer .article .col1 .adminBtnContainer .deleteBtn {
  background-color: #a30500;
}

#articlesHome .articlesContainer .article .col1 .adminBtnContainer .deleteBtn:hover {
  background-color: #700400;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
}

#articlesHome .articlesContainer .article .col1 .title {
  font-size: 1.25rem;
  width: 100%;
}

#articlesHome .articlesContainer .article .col1 .title a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#articlesHome .articlesContainer .article .col1 .title a:hover {
  color: #003097;
}

#articlesHome .articlesContainer .article .col1 .author {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 10px;
  width: 100%;
}

#articlesHome .articlesContainer .article .col1 .author .date {
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 10px;
}

#articlesHome .articlesContainer .article .col1 .content {
  font-size: 0.8rem;
  font-family: 'Poppins', serif;
  width: 96%;
}

#articlesHome .articlesContainer .article .col2 .image {
  width: 100%;
  min-height: 100px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=home.css.map */