@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

/* navbar css */
nav {
  background-color: rgba(10, 9, 15, 0);
  position: fixed;
  display: -ms-grid;
  display: grid;
  height: 64px;
  width: 100%;
  -ms-grid-columns: 300px calc(100% - 300px);
      grid-template-columns: 300px calc(100% - 300px);
  z-index: 5;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible;
}

nav ul .navlinks {
  margin: 0 20px;
}

nav ul .navlinks a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
}

nav ul .navlinks a:hover {
  color: #3183ff;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  padding-left: 20px;
}

nav div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Gilda Display', serif;
  font-size: 0.6rem;
  text-decoration: none;
}

nav div a .logoImg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 54px;
}

nav div a h1 {
  text-align: center;
  color: #ffffff;
  width: 170px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

nav.scrolled {
  background-color: #0a090f !important;
}

nav.scrolled div a h1 {
  color: #ffffff !important;
}

nav.scrolled ul .navlinks a {
  color: #ffffff !important;
}

/* mobile navbar */
#navMobile {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 11;
}

#navMobile #rectArea {
  width: 180px;
  height: 100%;
  background-color: black;
}

#navMobile #rectArea ul {
  width: 100%;
  text-align: right;
  list-style: none;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.displayShow {
  display: block;
}

.displayHide {
  display: none;
}

.navlinksMob {
  line-height: 70px;
}

.navlinksMob a {
  display: block;
  padding-right: 20px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  width: 100%;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.navlinksMob a:hover {
  color: #091A47;
  background-color: #3183ff;
}

.burger {
  position: fixed;
  right: 20px;
  top: 32px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto 0;
  padding: auto 0;
  width: 2.6rem;
  height: 2.2rem;
  border-radius: 5px;
  font-size: 20px;
  background-color: #ffffff00;
  outline: none;
  visibility: collapse;
  -webkit-transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #ffffff;
  border: 1px solid #ffffff;
  z-index: 20;
}

.bHover:hover {
  color: #3183ff;
  border: 1px solid #3183ff;
}

.xHover:hover {
  color: #a70000;
  border: 1px solid #a70000;
}

.navBtn {
  height: 40px;
  width: 100px;
  margin: 5px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 0.8rem;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.loginBtn {
  border: 1px solid #001570;
  background-color: #245af0;
}

.logoutBtn {
  border: 1px solid #690000;
  background-color: #df3131;
}

#blocker {
  background-color: #00000075;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  top: 0;
}

@media (max-width: 768px) {
  nav ul {
    visibility: collapse;
    display: none;
  }
  .burger {
    visibility: visible;
  }
  #btns {
    visibility: collapse;
  }
}

@media (max-width: 320px) {
  nav div a h1 {
    display: none;
  }
}
/*# sourceMappingURL=navbar.css.map */